.RadMenu
{
	white-space:nowrap;
	float:none !important;
	position:relative;
    z-index : 0 !important; /* IE8 hasLayout fix */
}

.RadMenu_Wr .rmRootGroup,
.RadMenu_Wr a.rmLink,
.RadMenu_Wr .rmText,
.RadMenu_Wr .rmLeftArrow,
.RadMenu_Wr .rmRightArrow,
.RadMenu_Wr .rmTopArrow,
.RadMenu_Wr .rmBottomArrow
{
    _background-image: url('Menu/rmSprite.png');
    background-color: transparent;
}

.RadMenu .rmLeftImage
{
      margin: 2px 2px 0 0px;
}
.RadMenu_Wr .rmRootGroup
{
    _border: 1px solid #6788be;
    border: 0px none;
    _background-color: #93b4df;
}

.RadMenu_Wr .rmHorizontal
{
    background-repeat: repeat-x;
    background-position: 0 0;
}

.RadMenu_Wr .rmVertical
{
    background-image: none;
    _background-color: #F5F5F5;
}

/* <Root items> */

.RadMenu_Wr, .RadMenu_Wr a.rmLink
{
    _font: normal 0.9em/23px verdana;
    text-decoration: none;
}

    .RadMenu_Wr .rmVertical a.rmLink
    {
        color: dimgray;
        _text-shadow: 0 0 0;
        letter-spacing: 0.4px;
        width: 100%;
    }

    .RadMenu_Wr .rmHorizontal a.rmLink
    {
        color: #2B0000;
        _font-weight: bold;
    }

    .RadMenu_Wr a.rmLink,
    .RadMenu_Wr a.rmLink .rmText
    {
        background-repeat: no-repeat;
        background-position: 0 500px;
        padding-left: 5px;
    }
    /*.RadMenu_Wr .rmVertical,
.RadMenu_Wr .rmVertical
{
	padding-top:10px;
}*/
    .RadMenu_Wr .rmVertical .rmFirst,
    .RadMenu_Wr .rmVertical .rmLast
    {
        background: none;
    }

    .RadMenu_Wr a.rmLink:after, .RadMenu_Wr a.rmLink:hover, .RadMenu_Wr a.rmFocused, .RadMenu_Wr a.rmSelected, .RadMenu_Wr a.rmExpanded, .RadMenu_Wr a.rmExpanded:hover
    {
        /*color: #0f3789;*/ /* wrenne */ /*background-position: 0 -72px;*/
        background-color: #026BD8;
        color: white;
    }

    .RadMenu_Wr .rmFirst a.rmLink:hover,
    .RadMenu_Wr .rmFirst a.rmFocused,
    .RadMenu_Wr .rmFirst a.rmSelected,
    .RadMenu_Wr .rmFirst a.rmExpanded,
    .RadMenu_Wr .rmFirst a.rmExpanded:hover
    {
        background-position: -1px -72px;
    }

    .RadMenu_Wr a.rmLink:hover .rmText,
    .RadMenu_Wr a.rmFocused .rmText,
    .RadMenu_Wr a.rmSelected .rmText,
    .RadMenu_Wr a.rmExpanded .rmText,
    .RadMenu_Wr a.rmExpanded:hover .rmText
    {
        background-position: 100% -96px;
    }

    .RadMenu_Wr .rmLast a.rmLink:hover .rmText,
    .RadMenu_Wr .rmLast a.rmFocused .rmText,
    .RadMenu_Wr .rmLast a.rmSelected .rmText,
    .RadMenu_Wr .rmLast a.rmExpanded .rmText,
    .RadMenu_Wr .rmLast a.rmExpanded:hover .rmText
    {
        background-position: 0 -96px;
    }

    .RadMenu_Wr .rmItem a.rmDisabled,
    .RadMenu_Wr .rmItem a.rmDisabled:hover,
    .RadMenu_Wr .rmItem a.rmDisabled .rmText,
    .RadMenu_Wr .rmItem a.rmDisabled:hover .rmText
    {
        background-repeat: no-repeat;
        background-position: 0 500px;
    }

    .RadMenu_Wr .rmVertical .rmFirst a.rmLink
    {
        _border-top-style: dotted;
        _border-width: 1px;
        _border-color: #336699;
        border-top: 0px solid #E2E2E2;
    }

    .RadMenu_Wr .rmVertical a.rmLink
    {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #E2E2E2;
        _height: 30px;
        _border-bottom-style: dotted;
        _border-width: 1px;
        _border-color: #336699;
        cursor: pointer;
    }
    /*
.RadMenu_Wr .rmVertical a.rmLink:hover,
.RadMenu_Wr .rmVertical a.rmFocused,
.RadMenu_Wr .rmVertical a.rmSelected,
.RadMenu_Wr .rmVertical a.rmExpanded,
.RadMenu_Wr .rmVertical a.rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-color: #3f5f94;
	border-width: 0px 0;
}

.RadMenu_Wr .rmVertical a.rmLink:hover,
.RadMenu_Wr .rmVertical a.rmFocused,
.RadMenu_Wr .rmVertical a.rmSelected,
.RadMenu_Wr .rmVertical a.rmExpanded,
.RadMenu_Wr .rmVertical a.rmExpanded:hover,
.RadMenu_Wr .rmVertical a.rmLink:hover .rmText,
.RadMenu_Wr .rmVertical a.rmFocused .rmText,
.RadMenu_Wr .rmVertical a.rmSelected .rmText,
.RadMenu_Wr .rmVertical a.rmExpanded .rmText,
.RadMenu_Wr .rmVertical a.rmExpanded:hover .rmText
{
	background-position: -1px -72px;
	padding-top: 11;
}

.RadMenu_Wr .rmVertical .rmFirst a.rmLink:hover,
.RadMenu_Wr .rmVertical .rmFirst a.rmFocused,
.RadMenu_Wr .rmVertical .rmFirst a.rmSelected,
.RadMenu_Wr .rmVertical .rmFirst a.rmExpanded,
.RadMenu_Wr .rmVertical .rmFirst a.rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
}

.RadMenu_Wr .rmVertical .rmLast a.rmLink:hover,
.RadMenu_Wr .rmVertical .rmLast a.rmFocused,
.RadMenu_Wr .rmVertical .rmLast a.rmSelected,
.RadMenu_Wr .rmVertical .rmLast a.rmExpanded,
.RadMenu_Wr .rmVertical .rmLast a.rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_Wr .rmVertical .rmItem a.rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
}*/

    .RadMenu_Wr .rmLast a.rmExpanded .rmText
    {
        background-position: 0 500px;
        background-repeat: no-repeat;
    }

    .RadMenu_Wr .rmRootGroup a.rmDisabled,
    .RadMenu_Wr .rmRootGroup a.rmDisabled:hover
    {
        color: #bdcae3;
        background: none;
    }

    /* </Root items> */


    /* <Submenu items> */

    .RadMenu_Wr .rmGroup,
    .RadMenu_Wr .rmMultiColumn,
    .RadMenu_Wr .rmGroup .rmVertical
    {
        border: 1px solid #6788BE;
        background: #fff url('Menu/rmVSprite.png') repeat-y -1px 0;
    }

    .RadMenu_Wr .rmTopFix,
    .RadMenu_Wr .rmBottomFix,
    .RadMenu_Wr .rmRoundedCorners .rmGroup .rmItem,
    .RadMenu_Wr .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
    .RadMenu_Wr .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
    .RadMenu_Wr .rmRoundedCorners ul.rmHorizontal .rmFirst,
    .RadMenu_Wr_Context.rmRoundedCorners .rmGroup .rmItem,
    .RadMenu_Wr_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
    {
        background-image: url('Menu/rmVSprite.png');
        background-color: #fff;
        background-repeat: repeat-y;
        background-position: -3px 0;
    }

* html .rmRoundedCorners_Wr .rmGroup .rmItem,
* html .rmRoundedCorners_Wr ul.rmHorizontal .rmFirst
{
    background-image: url('Menu/rmVSprite.png');
    background-color: #fff;
    background-repeat: repeat-y;
    background-position: -3px 0;
}

.RadMenu_Wr .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Wr .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Wr .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Wr .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Wr .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Wr .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Wr_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
    background-image: none;
}

* html .rmRoundedCorners_Wr .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Wr .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Wr .rmHorizontal .rmItem,
* html .rmRoundedCorners_Wr .rmScrollWrap .rmVertical
{
    background-image: none;
}

.RadMenu_Wr .rmRoundedCorners .rmGroupColumn
{
    background-color: #fff;
}

.RadMenu_Wr .rmBottomLeft,
.RadMenu_Wr .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Wr_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Wr .rmRoundedCorners ul.rmGroup,
.RadMenu_Wr .rmRoundedCorners .rmMultiColumn
{
    background-image: url('Menu/rmRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

* html .rmRoundedCorners_Wr .rmScrollWrapContainer,
* html .rmRoundedCorners_Wr .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Wr ul.rmGroup
{
    background-image: url('Menu/rmRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadMenu_Wr .rmTopRight,
.RadMenu_Wr .rmBottomRight
{
    background-image: url('Menu/rmRoundedRight.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadMenu_Wr .rmTopFix,
.RadMenu_Wr .rmBottomFix,
.RadMenu_Wr .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Wr_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Wr .rmGroup .rmFirst
{
    border-color: #6788BE;
}

.RadMenu_Wr .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Wr .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
    background: #FFF;
}

* html .rmRoundedCorners_Wr .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_Wr .rmScrollWrapContainer .rmBottomFix
{
    background: #FFF;
}

.RadMenu_Wr .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Wr .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Wr .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Wr .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
    background-color: #FFF;
    border: 0;
}

* html .rmRoundedCorners_Wr .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Wr .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Wr .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Wr .rmScrollWrapContainer .rmRightArrow
{
    background-color: #FFF;
    border: 0;
}

.RadMenu_Wr li.rmTopFix,
.RadMenu_Wr li.rmBottomFix
{
    background-position: -4px 0;
}

.RadMenu_Wr_rtl .rmBottomLeft,
.RadMenu_Wr_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Wr_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Wr .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Wr .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Wr_Context_rtl ul.rmGroup,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrapContainer
{
    background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_Wr_rtl .rmTopRight,
.RadMenu_Wr_rtl .rmBottomRight
{
    background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_Wr_rtl li.rmTopFix,
.RadMenu_Wr_rtl li.rmBottomFix,
.RadMenu_Wr_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Wr_Context_rtl ul.rmGroup .rmItem
{
    background-position: 101% 0;
}

.RadMenu_Wr .rmGroup a.rmLink
{
    color: #000;
}

.RadMenu_Wr .rmSlide .rmScrollWrap
{
    background-image: none;
}

.RadMenu_Wr_rtl .rmGroup,
.RadMenu_Wr_rtl .rmMultiColumn,
.RadMenu_Wr_rtl .rmGroup .rmVertical
{
    background-position: 101% 0;
}

.RadMenu_Wr .rmRootGroup .rmHorizontal
{
    background-image: none;
}

.RadMenu_Wr .rmScrollWrap .rmVertical
{
    border: 0;
}

.RadMenu_Wr .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Wr_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Wr .rmScrollWrapContainer li.rmItem
{
    background: none;
}

.RadMenu_Wr .rmGroup a.rmLink:hover,
.RadMenu_Wr .rmGroup .rmItem a.rmFocused,
.RadMenu_Wr .rmGroup .rmItem a.rmSelected,
.RadMenu_Wr .rmGroup .rmItem a.rmExpanded
{
    color: #0f3789;
}

.RadMenu_Wr .rmGroup a.rmDisabled,
.RadMenu_Wr .rmGroup a.rmDisabled:hover
{
    color: #8a8a8a;
}

.RadMenu_Wr .rmGroup .rmItem a.rmLink,
.RadMenu_Wr .rmGroup .rmItem a.rmLink:hover,
.RadMenu_Wr .rmGroup .rmItem a.rmFocused,
.RadMenu_Wr .rmGroup .rmItem a.rmSelected,
.RadMenu_Wr .rmGroup .rmItem a.rmExpanded
{
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.RadMenu_Wr .rmGroup a.rmLink,
.RadMenu_Wr .rmGroup .rmText,
.RadMenu_Wr .rmGroup .rmItem a.rmDisabled,
.RadMenu_Wr .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_Wr .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_Wr .rmGroup .rmItem a.rmDisabled:hover .rmText
{
    background-position: 0 500px;
    background-repeat: no-repeat;
    background-color: transparent;
}

    .RadMenu_Wr .rmGroup a.rmLink:hover,
    .RadMenu_Wr .rmGroup a.rmFocused,
    .RadMenu_Wr .rmGroup a.rmSelected,
    .RadMenu_Wr .rmGroup a.rmExpanded
    {
        background-position: 0 -168px;
    }

        .RadMenu_Wr .rmGroup a.rmLink:hover .rmText,
        .RadMenu_Wr .rmGroup a.rmFocused .rmText,
        .RadMenu_Wr .rmGroup a.rmSelected .rmText,
        .RadMenu_Wr .rmGroup a.rmExpanded .rmText
        {
            background-position: 100% -192px;
        }

    /* <expand arrows> */

    .RadMenu_Wr .rmRootGroup .rmLink .rmExpandRight,
    .RadMenu_Wr .rmGroup .rmLink .rmExpandDown,
    .RadMenu_Wr_Context .rmGroup .rmLink .rmExpandRight,
    .RadMenu_Wr .rmRootGroup .rmItem a.rmDisabled .rmExpandRight,
    .RadMenu_Wr .rmGroup .rmItem a.rmDisabled .rmExpandDown,
    .RadMenu_Wr .rmRootGroup .rmItem a.rmDisabled:hover .rmExpandRight,
    .RadMenu_Wr .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
    {
        background-position: 100% -216px;
    }

.RadMenu_Wr a.rmLink:hover .rmExpandRight,
.RadMenu_Wr a.rmFocused .rmExpandRight,
.RadMenu_Wr a.rmExpanded .rmExpandRight,
.RadMenu_Wr a.rmSelected .rmExpandRight,
.RadMenu_Wr a.rmLink:hover .rmExpandLeft,
.RadMenu_Wr a.rmFocused .rmExpandLeft,
.RadMenu_Wr a.rmExpanded .rmExpandLeft,
.RadMenu_Wr a.rmSelected .rmExpandLeft
{
    background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_Wr .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Wr .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Wr .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Wr .rmVertical a.rmFocused .rmExpandRight
{
    background-position: 100% 0;
}

.RadMenu_Wr .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Wr .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Wr .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Wr .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Wr .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Wr .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Wr .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Wr .rmGroup a.rmExpanded .rmExpandDown
{
    background-image: url('Menu/rmSprite.png');
    background-position: 100% -240px;
}

.RadMenu_Wr .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Wr .rmGroup a.rmDisabled:hover .rmExpandDown
{
    background-image: url('Menu/rmSprite.png');
    background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Wr_rtl a.rmLink:hover,
.RadMenu_Wr_rtl a.rmFocused,
.RadMenu_Wr_rtl a.rmSelected
{
    background-position: 100% -96px;
}

    .RadMenu_Wr_rtl a.rmLink:hover .rmText,
    .RadMenu_Wr_rtl a.rmFocused .rmText,
    .RadMenu_Wr_rtl a.rmSelected .rmText
    {
        background-position: 0 -72px;
    }

.RadMenu_Wr_rtl a.rmExpanded,
.RadMenu_Wr_rtl a.rmExpanded:hover
{
    background-position: 100% -144px;
}

    .RadMenu_Wr_rtl a.rmExpanded .rmText,
    .RadMenu_Wr_rtl a.rmExpanded:hover .rmText
    {
        background-position: 0 -120px;
    }

.RadMenu_Wr_rtl .rmGroup a.rmLink:hover,
.RadMenu_Wr_rtl .rmGroup a.rmFocused,
.RadMenu_Wr_rtl .rmGroup a.rmSelected,
.RadMenu_Wr_rtl .rmGroup a.rmExpanded
{
    background-position: 100% -264px;
}

    .RadMenu_Wr_rtl .rmGroup a.rmLink:hover .rmText,
    .RadMenu_Wr_rtl .rmGroup a.rmFocused .rmText,
    .RadMenu_Wr_rtl .rmGroup a.rmSelected .rmText,
    .RadMenu_Wr_rtl .rmGroup a.rmExpanded .rmText
    {
        background-position: 0 -288px;
    }

.RadMenu_Wr_Context_rtl .rmVertical .rmLink .rmExpandLeft,
.RadMenu_Wr_rtl .rmRootGroup a.rmLink .rmExpandLeft
{
    background-position: 0 -312px;
}

.RadMenu_Wr_rtl .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_Wr_rtl .rmVertical a.rmSelected .rmExpandLeft,
.RadMenu_Wr_rtl .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_Wr_rtl .rmVertical a.rmFocused .rmExpandLeft
{
    background-position: 0 0;
}

.RadMenu_Wr_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Wr_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Wr_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Wr_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
    background-position: 0 -336px;
}

.RadMenu_Wr_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
    background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Web20 - specific, overlapping submenus)> */

.RadMenu_Wr .rmFirst .rmSlide
{
    margin: 0 0 0 -1px;
}

.RadMenu_Wr .rmVertical .rmSlide,
.RadMenu_Wr .rmSlide .rmSlide,
.RadMenu_Wr_Context .rmGroup .rmSlide
{
    margin: 0 0 0 -5px;
}

.RadMenu_Wr_rtl .rmSlide
{
    margin: 0 0 0 0;
}

.RadMenu_Wr_rtl .rmFirst .rmSlide
{
    margin-left: 1px;
}

.RadMenu_Wr_rtl .rmVertical .rmSlide,
.RadMenu_Wr_rtl .rmSlide .rmSlide,
.RadMenu_Wr_Context_rtl .rmGroup .rmSlide
{
    margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Wr .rmLeftArrow,
.RadMenu_Wr .rmRightArrow
{
    background-color: #ECF4FF;
}

.RadMenu_Wr .rmLeftArrow
{
    background-position: -8px -312px;
    border-right: 1px solid #828282;
}

.RadMenu_Wr .rmRightArrow
{
    background-position: -482px -216px;
    border-left: 1px solid #828282;
}

.RadMenu_Wr .rmTopArrow,
.RadMenu_Wr .rmBottomArrow,
.RadMenu_Wr .rmGroup .rmLeftArrow,
.RadMenu_Wr .rmGroup .rmRightArrow
{
    background-color: #ECF4FF;
}

.RadMenu_Wr .rmTopArrow
{
    background-position: 50% -367px;
    border-bottom: 1px solid #828282;
}

.RadMenu_Wr .rmBottomArrow
{
    background-position: 50% -391px;
    border-top: 1px solid #828282;
}

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Wr .rmHorizontal .rmSeparator .rmText,
.RadMenu_Wr .rmVertical .rmHorizontal .rmSeparator .rmText
{
    height: 22px;
    margin: 1px 0 0;
    width: 1px;
}

.RadMenu_Wr .rmHorizontal .rmSeparator .rmText
{
    background-color: transparent;
    background-position: 0 -386px;
}

.RadMenu_Wr_Context .rmSeparator .rmText,
.RadMenu_Wr .rmHorizontal .rmGroup .rmSeparator .rmText,
.RadMenu_Wr .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
    background-color: transparent;
    background-position: 0 -408px;
}

/* </Separators> */

/* </RadMenu / Web20> */
