<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="AppConnectionString" connectionString="Data Source=200.170.88.138;Initial Catalog=assecont2;User ID=assecont5272;Password=*h6prMvr;Connection Timeout=30" />
    <add name="AppConnectionStringAssefin" connectionString="Data Source=200.98.136.201;Initial Catalog=assefin_assecont4;User ID=assefin45231;Password=768fkl448mb;Connection Timeout=30" />
  </connectionStrings>
  <appSettings>
      <add key="EMAILHOST" value="smtplw.com.br" />
      <add key="EMAILPORT" value="587" />
      <add key="EMAILSSL" value="1" />
  </appSettings>
</configuration>