/* <RadMenu / Web20> */

.RadMenu_Blue .rmRootGroup,
.RadMenu_Blue a.rmLink,
.RadMenu_Blue .rmText,
.RadMenu_Blue .rmLeftArrow,
.RadMenu_Blue .rmRightArrow,
.RadMenu_Blue .rmTopArrow,
.RadMenu_Blue .rmBottomArrow
{
	background-color: transparent;
    
}

.RadMenu_Blue .rmRootGroup
{
	_border: 1px solid #6788be;
	border: 0px none;
	_background-color: #93b4df;
    
}

.RadMenu_Blue .rmVertial
{
	background-repeat: repeat-x;
	background-position: 0 0;
}

.RadMenu_Blue .rmVertical
{
	background-image: none;
	_background-color: #F5F5F5;
}

/* <Root items> */

.RadMenu_Blue, .RadMenu_Blue a.rmLink
{
    _font: normal px verdana;
    text-decoration: none;
}

.RadMenu_Blue .rmVertical a.rmLink
{
    color: #FF6699;
    text-decoration: none;
}

.RadMenu_Blue .rmVertial a.rmLink
{
    color: #003366;
    text-decoration: none;
}

.RadMenu_Blue a.rmLink,
.RadMenu_Blue a.rmLink .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
	padding-left:5px;
}
/*.RadMenu_Blue .rmVertical,
.RadMenu_Blue .rmVertical
{
	padding-top:10px;
}*/
.RadMenu_Blue .rmVertical .rmFirst,
.RadMenu_Blue .rmVertical .rmLast
{
	background: none;
}

.RadMenu_Blue a.rmLink:hover, 
.RadMenu_Blue a.rmFocused, 
.RadMenu_Blue a.rmSelected, 
.RadMenu_Blue a.rmExpanded, 
.RadMenu_Blue a.rmExpanded:hover
{
	/*color: #0f3789;*/ /* wrenne */ /*background-position: 0 -72px;*/
    color: #fff;
	background-color: #598CCA;
    text-decoration: underline;
    cursor: pointer;
}

.RadMenu_Blue .rmFirst a.rmLink:hover,
.RadMenu_Blue .rmFirst a.rmFocused,
.RadMenu_Blue .rmFirst a.rmSelected,
.RadMenu_Blue .rmFirst a.rmExpanded,
.RadMenu_Blue .rmFirst a.rmExpanded:hover
{
	background-position: -1px -72px;
}

.RadMenu_Blue a.rmLink:hover .rmText,
.RadMenu_Blue a.rmFocused .rmText,
.RadMenu_Blue a.rmSelected .rmText,
.RadMenu_Blue a.rmExpanded .rmText,
.RadMenu_Blue a.rmExpanded:hover .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Blue .rmLast a.rmLink:hover .rmText,
.RadMenu_Blue .rmLast a.rmFocused .rmText,
.RadMenu_Blue .rmLast a.rmSelected .rmText,
.RadMenu_Blue .rmLast a.rmExpanded .rmText,
.RadMenu_Blue .rmLast a.rmExpanded:hover .rmText
{
	background-position: 0 -96px;
}

.RadMenu_Blue .rmItem a.rmDisabled,
.RadMenu_Blue .rmItem a.rmDisabled:hover,
.RadMenu_Blue .rmItem a.rmDisabled .rmText,
.RadMenu_Blue .rmItem a.rmDisabled:hover .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
}

.RadMenu_Blue .rmVertical .rmFirst a.rmLink
{
	border-top-style: dotted;
	border-width: 1px;
	border-color: #004C70;
}

.RadMenu_Blue .rmVertical a.rmLink
{
	padding-top: 1px;
	padding-bottom: 1px;
	height: 22px;
	border-bottom-style: dotted;
	border-width: 1px;
	border-color: #004C70;
}
/*
.RadMenu_Blue .rmVertical a.rmLink:hover,
.RadMenu_Blue .rmVertical a.rmFocused,
.RadMenu_Blue .rmVertical a.rmSelected,
.RadMenu_Blue .rmVertical a.rmExpanded,
.RadMenu_Blue .rmVertical a.rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-color: #3f5f94;
	border-width: 0px 0;
}

.RadMenu_Blue .rmVertical a.rmLink:hover,
.RadMenu_Blue .rmVertical a.rmFocused,
.RadMenu_Blue .rmVertical a.rmSelected,
.RadMenu_Blue .rmVertical a.rmExpanded,
.RadMenu_Blue .rmVertical a.rmExpanded:hover,
.RadMenu_Blue .rmVertical a.rmLink:hover .rmText,
.RadMenu_Blue .rmVertical a.rmFocused .rmText,
.RadMenu_Blue .rmVertical a.rmSelected .rmText,
.RadMenu_Blue .rmVertical a.rmExpanded .rmText,
.RadMenu_Blue .rmVertical a.rmExpanded:hover .rmText
{
	background-position: -1px -72px;
	padding-top: 11;
}

.RadMenu_Blue .rmVertical .rmFirst a.rmLink:hover,
.RadMenu_Blue .rmVertical .rmFirst a.rmFocused,
.RadMenu_Blue .rmVertical .rmFirst a.rmSelected,
.RadMenu_Blue .rmVertical .rmFirst a.rmExpanded,
.RadMenu_Blue .rmVertical .rmFirst a.rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
}

.RadMenu_Blue .rmVertical .rmLast a.rmLink:hover,
.RadMenu_Blue .rmVertical .rmLast a.rmFocused,
.RadMenu_Blue .rmVertical .rmLast a.rmSelected,
.RadMenu_Blue .rmVertical .rmLast a.rmExpanded,
.RadMenu_Blue .rmVertical .rmLast a.rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_Blue .rmVertical .rmItem a.rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
}*/

.RadMenu_Blue .rmLast a.rmExpanded .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_Blue .rmRootGroup a.rmDisabled,
.RadMenu_Blue .rmRootGroup a.rmDisabled:hover
{
	color: #bdcae3;
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Blue .rmGroup,
.RadMenu_Blue .rmMultiColumn,
.RadMenu_Blue .rmGroup .rmVertical
{
	border: 1px solid #6788BE;
	background: #fff url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_Blue .rmTopFix, .RadMenu_Blue .rmBottomFix, .RadMenu_Blue .rmRoundedCorners .rmGroup .rmItem, .RadMenu_Blue .rmRoundedCorners li.rmFirstGroupColumn .rmItem, .RadMenu_Blue .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem, .RadMenu_Blue .rmRoundedCorners ul.rmVertial .rmFirst, .RadMenu_Blue_Context.rmRoundedCorners .rmGroup .rmItem, .RadMenu_Blue_Context.rmRoundedCorners ul.rmVertial .rmFirst
{
    background-image: url('Menu/rmVSprite.png');
    background-color: #000066;
    background-repeat: repeat-y;
    background-position: -3px 0;
}

* html .rmRoundedCorners_Blue .rmGroup .rmItem,
* html .rmRoundedCorners_Blue ul.rmVertial .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #fff; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

.RadMenu_Blue .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Blue .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Blue .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Blue .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Blue .rmRoundedCorners .rmVertial .rmItem,
.RadMenu_Blue .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Blue_Context.rmRoundedCorners .rmVertial .rmItem,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Blue .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Blue .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Blue .rmVertial .rmItem,
* html .rmRoundedCorners_Blue .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_Blue .rmRoundedCorners .rmGroupColumn
{
	background-color: #fff;
}

.RadMenu_Blue .rmBottomLeft,
.RadMenu_Blue .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Blue_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Blue .rmRoundedCorners ul.rmGroup,
.RadMenu_Blue .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_Blue .rmScrollWrapContainer,
* html .rmRoundedCorners_Blue .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Blue ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Blue .rmTopRight,
.RadMenu_Blue .rmBottomRight
{
	background-image:  url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Blue .rmTopFix,
.RadMenu_Blue .rmBottomFix,
.RadMenu_Blue .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Blue_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Blue .rmGroup .rmFirst
{
	border-color: #6788BE;
}

.RadMenu_Blue .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Blue .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

* html .rmRoundedCorners_Blue .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_Blue .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

.RadMenu_Blue .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Blue .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Blue .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Blue .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

* html .rmRoundedCorners_Blue .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Blue .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Blue .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Blue .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

.RadMenu_Blue li.rmTopFix,
.RadMenu_Blue li.rmBottomFix
{
	background-position: -4px 0;
}

.RadMenu_Blue_rtl .rmBottomLeft,
.RadMenu_Blue_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Blue_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Blue .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Blue .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Blue_Context_rtl ul.rmGroup,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_Blue_rtl .rmTopRight,
.RadMenu_Blue_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_Blue_rtl li.rmTopFix,
.RadMenu_Blue_rtl li.rmBottomFix,
.RadMenu_Blue_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Blue_Context_rtl ul.rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_Blue .rmGroup a.rmLink
{
	color: #000;
}

.RadMenu_Blue .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Blue_rtl .rmGroup,
.RadMenu_Blue_rtl .rmMultiColumn,
.RadMenu_Blue_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_Blue .rmRootGroup .rmVertial a.rmLink:hover
{
	background-image: none;
}

.RadMenu_Blue .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Blue .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Blue_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Blue .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_Blue .rmGroup a.rmLink:hover,
.RadMenu_Blue .rmGroup .rmItem a.rmFocused,
.RadMenu_Blue .rmGroup .rmItem a.rmSelected,
.RadMenu_Blue .rmGroup .rmItem a.rmExpanded
{
	color: #0f3789;
}

.RadMenu_Blue .rmGroup a.rmDisabled,
.RadMenu_Blue .rmGroup a.rmDisabled:hover
{
	color: #8a8a8a;
}

.RadMenu_Blue .rmGroup .rmItem a.rmLink,
.RadMenu_Blue .rmGroup .rmItem a.rmLink:hover,
.RadMenu_Blue .rmGroup .rmItem a.rmFocused,
.RadMenu_Blue .rmGroup .rmItem a.rmSelected,
.RadMenu_Blue .rmGroup .rmItem a.rmExpanded
{
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
}

.RadMenu_Blue .rmGroup a.rmLink,
.RadMenu_Blue .rmGroup .rmText,
.RadMenu_Blue .rmGroup .rmItem a.rmDisabled,
.RadMenu_Blue .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_Blue .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_Blue .rmGroup .rmItem a.rmDisabled:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.RadMenu_Blue .rmGroup a.rmLink:hover,
.RadMenu_Blue .rmGroup a.rmFocused,
.RadMenu_Blue .rmGroup a.rmSelected,
.RadMenu_Blue .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Blue .rmGroup a.rmLink:hover .rmText,
.RadMenu_Blue .rmGroup a.rmFocused .rmText,
.RadMenu_Blue .rmGroup a.rmSelected .rmText,
.RadMenu_Blue .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_Blue .rmRootGroup .rmLink .rmExpandRight,
.RadMenu_Blue .rmGroup .rmLink .rmExpandDown,
.RadMenu_Blue_Context .rmGroup .rmLink .rmExpandRight,
.RadMenu_Blue .rmRootGroup .rmItem a.rmDisabled .rmExpandRight,
.RadMenu_Blue .rmGroup .rmItem a.rmDisabled .rmExpandDown,
.RadMenu_Blue .rmRootGroup .rmItem a.rmDisabled:hover .rmExpandRight,
.RadMenu_Blue .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Blue a.rmLink:hover .rmExpandRight,
.RadMenu_Blue a.rmFocused .rmExpandRight,
.RadMenu_Blue a.rmExpanded .rmExpandRight,
.RadMenu_Blue a.rmSelected .rmExpandRight,
.RadMenu_Blue a.rmLink:hover .rmExpandLeft,
.RadMenu_Blue a.rmFocused .rmExpandLeft,
.RadMenu_Blue a.rmExpanded .rmExpandLeft,
.RadMenu_Blue a.rmSelected .rmExpandLeft
{
	background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_Blue .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Blue .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Blue .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Blue .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% 0;
}

.RadMenu_Blue .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Blue .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Blue .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Blue .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Blue .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Blue .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Blue .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Blue .rmGroup a.rmExpanded .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -240px;
}

.RadMenu_Blue .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Blue .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Blue_rtl a.rmLink:hover,
.RadMenu_Blue_rtl a.rmFocused,
.RadMenu_Blue_rtl a.rmSelected
{
	background-position: 100% -96px;
}

.RadMenu_Blue_rtl a.rmLink:hover .rmText,
.RadMenu_Blue_rtl a.rmFocused .rmText,
.RadMenu_Blue_rtl a.rmSelected .rmText
{
	background-position: 0 -72px;
}

.RadMenu_Blue_rtl a.rmExpanded,
.RadMenu_Blue_rtl a.rmExpanded:hover
{
	background-position: 100% -144px;
}

.RadMenu_Blue_rtl a.rmExpanded .rmText,
.RadMenu_Blue_rtl a.rmExpanded:hover .rmText
{
	background-position: 0 -120px;
}

.RadMenu_Blue_rtl .rmGroup a.rmLink:hover,
.RadMenu_Blue_rtl .rmGroup a.rmFocused,
.RadMenu_Blue_rtl .rmGroup a.rmSelected,
.RadMenu_Blue_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Blue_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Blue_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Blue_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Blue_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Blue_Context_rtl .rmVertical .rmLink .rmExpandLeft,
.RadMenu_Blue_rtl .rmRootGroup a.rmLink .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Blue_rtl .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_Blue_rtl .rmVertical a.rmSelected .rmExpandLeft,
.RadMenu_Blue_rtl .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_Blue_rtl .rmVertical a.rmFocused .rmExpandLeft
{
	background-position: 0 0;
}

.RadMenu_Blue_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Blue_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Blue_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Blue_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-image: url('Menu/rmSprite.png');
	background-position: 0 -336px;
}

.RadMenu_Blue_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
	background-image: url('Menu/rmSprite.png');
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Web20 - specific, overlapping submenus)> */

.RadMenu_Blue .rmFirst .rmSlide
{
	margin: 0 0 0 -1px;
}

.RadMenu_Blue .rmVertical .rmSlide,
.RadMenu_Blue .rmSlide .rmSlide,
.RadMenu_Blue_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Blue_rtl .rmSlide
{
	margin: 0 0 0 0;
}

.RadMenu_Blue_rtl .rmFirst .rmSlide
{
	margin-left: 1px;
}

.RadMenu_Blue_rtl .rmVertical .rmSlide,
.RadMenu_Blue_rtl .rmSlide .rmSlide,
.RadMenu_Blue_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Blue .rmLeftArrow,
.RadMenu_Blue .rmRightArrow
{
	background-color: #ECF4FF;
}

.RadMenu_Blue .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #828282; }
.RadMenu_Blue .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #828282; }

.RadMenu_Blue .rmTopArrow,
.RadMenu_Blue .rmBottomArrow,
.RadMenu_Blue .rmGroup .rmLeftArrow,
.RadMenu_Blue .rmGroup .rmRightArrow
{
	background-color: #ECF4FF;
}

.RadMenu_Blue .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #828282; }
.RadMenu_Blue .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #828282; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Blue .rmVertical .rmSeparator .rmText,
.RadMenu_Blue .rmVertical .rmVertial .rmSeparator .rmText
{
	height: 22px;
	margin: 1px 0 0;
	width: 1px;
}

.RadMenu_Blue .rmVertial .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -386px;
}

.RadMenu_Blue_Context .rmSeparator .rmText,
.RadMenu_Blue .rmVertial .rmGroup .rmSeparator .rmText,
.RadMenu_Blue .rmVertical .rmVertial .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -408px;
}

/* </Separators> */

/* </RadMenu / Web20> */
